div.login-container
{
  /* actual -- 1953(w), 1099(h) */
  /* height: 1000px; */
  position: relative;
  overflow: hidden;
}

img.login-image
{
  width: 2000px;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -5;
  filter: brightness(50%);
  object-fit: none;
}

header.login-page-header-container
{
  height: 90px;
  width: 100%;
  z-index: 10;
  display: flex;
  align-items: center;
  background-color: transparent;
}

div.login-page-header-content
{
  height: auto;
  margin-left: 3%;
  
}

a.login-page-logo-signup-link
{
  width: 167px;
  height: 75px;
  display: flex;
  align-items: center;
}

svg.svg-icon
{
  fill: red;
}

a
{
  color: black;
  text-decoration: none;
}

div.login-body
{
  width: 100%;
  display: flex;
  justify-content: center;
}