div.login-page
{
  min-width: 100%;
  min-height: 100%;
  position: relative;
}

/* === Background === */

div.login-page > div.background-container
{
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: -5;
  overflow: hidden;
  background-size: cover;
}

div.login-page > div.background-container > img
{
  min-width: 100%;
  min-height: 100%;
  filter: brightness(50%);
}

/* === Background === */

div.login-page > div.header-container
{
  width: 100%;
  height: 90px;
  z-index: 10;
  display: flex;
  align-items: center;
  background-color: transparent;
}

div.login-page > div.header-container > header
{
  width: 100%;
  margin: 0 3%;
}

div.login-page header > a
{
  width: 167px;
  height: 75px;
  display: flex;
  align-items: center;
}

div.login-page header > a > svg
{
  fill: #E50914;
}

/* === Body === */

div.login-page > div.body-container
{
  width: 100%;
  display: flex;
  justify-content: center;
}

/* === Footer === */

div.login-page > div.footer-container
{
  width: 100%;
  min-width: 190px;
  margin-top: 0;
  padding-bottom: 20px;
  background: rgba(0, 0, 0, 0.75);;
}