div.login-page
{
  min-width: 100%;
  min-height: 100%;
  position: relative;
}

/* === Background === */

div.login-page div.background-container
{
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: -5;
  overflow: hidden;
  background-size: cover;
}

div.login-page div.background-container > img
{
  min-width: 100%;
  min-height: 100%;
  filter: brightness(50%);
}

/* === Background === */

div.login-page div.header-container
{
  width: 100%;
  height: 90px;
  z-index: 10;
  display: flex;
  align-items: center;
  background-color: transparent;
}

div.login-page header
{
  width: 100%;
  margin: 0 3%;
}

div.login-page header > a
{
  width: 167px;
  height: 75px;
  display: flex;
  align-items: center;
}

div.login-page header > a > svg
{
  fill: #E50914;
}

/* === Body === */

div.login-page div.body-container
{
  width: 100%;
  display: flex;
  justify-content: center;
}

/* === Form Container === */

div.login-page div.form-container
{
  width: 450px;
  min-height: 660px;
  padding: 60px 68px 40px 68px;
  margin-bottom: 90px;
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  font-size: 16px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

div.login-page div.form-other
{
  width: 100%;
  flex-grow: 1;
}

div.login-page div.signup-container
{
  margin-top: 16px;
}

div.login-page div.signup-container > p
{
  font-size: 16px;
  font-weight: 500;
  color: #737373;
}

div.login-page div.signup-container > p > a
{
  color: white;
}

div.login-page div.recaptcha-container
{
  margin: 13px 0;
}

div.login-page div.recaptcha-container > p
{
  font-size: 14px;
  color: #8c8c8c;
}

div.login-page div.recaptcha-container > p > a
{
  color: #0071EB;
}

/* === Footer === */

div.login-page div.footer-container
{
  width: 100%;
  min-width: 190px;
  margin-top: 0;
  padding-bottom: 20px;
  background: rgba(0, 0, 0, 0.75);;
}