div.landing-page-container
{
  width: 100%;
  color: white;
  overflow-x: hidden;
}

/* === Header === */

header.landing-page-header-container
{
  height: 5rem;
  width: 100%;
  padding-top: 20px;
  margin: 0 auto;
  position: relative;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 10;
  background-color: transparent;
}

div.landing-page-header-content
{
  height: auto;
  padding-top: 0.5rem;
  margin: 0 3.5rem;
  position: relative;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-flow: row nowrap;
}

div.landing-page-header-logo
{
  height: 2.25rem;
  width: 8.375rem;
  margin-right: auto;
}

div.landing-page-header-lang-container
{
  margin: 0 2rem 0 0.75rem;
  display: inline-block;
}

div.landing-page-header-lang-container .lang-switcher-container
{
  position: relative;
  font-size: 16px;
}

div.landing-page-header-lang-container label
{
  width: 1px;
  height: 1px;
  margin: -1px -1px 0 -1px;
  position: absolute;
  clip: rect(0 0 0 0);
  white-space: nowrap;
  display: block;
  border: 0;
  overflow: hidden;
}

div.landing-page-header-lang-container .lang-switcher-select-container::before
{
  content: url("data:image/svg+xml; utf8, <svg stroke='white' fill='currentColor' stroke-width='0' viewBox='0 0 512 512' height='0.75em' width='0.75em' xmlns='http://www.w3.org/2000/svg'><path fill='none' stroke-miterlimit='10' stroke-width='32' d='M256 48C141.13 48 48 141.13 48 256s93.13 208 208 208 208-93.13 208-208S370.87 48 256 48z'></path><path fill='none' stroke-miterlimit='10' stroke-width='32' d='M256 48c-58.07 0-112.67 93.13-112.67 208S197.93 464 256 464s112.67-93.13 112.67-208S314.07 48 256 48z'></path><path fill='none' stroke-linecap='round' stroke-linejoin='round' stroke-width='32' d='M117.33 117.33c38.24 27.15 86.38 43.34 138.67 43.34s100.43-16.19 138.67-43.34m0 277.34c-38.24-27.15-86.38-43.34-138.67-43.34s-100.43 16.19-138.67 43.34'></path><path fill='none' stroke-miterlimit='10' stroke-width='32' d='M256 48v416m208-208H48'></path></svg>");
  position: absolute;
  top: 50%;
  left: 0.5rem;
  transform: translateY(-50%);
  pointer-events: none;
}

div.landing-page-header-lang-container select#lang-switcher-header-select
{
  width: auto;
  padding: 0.5rem 1.375rem;
  line-height: 1.3em;
  text-indent: 0;
  white-space: nowrap;
  color: #fff;
  background: rgba(0, 0, 0, 0.4);
  border: 1px solid #aaa;
  border-radius: 2px;
  appearance: none;
}

div.landing-page-header-lang-container .lang-switcher-select-container::after
{
  content: url("data:image/svg+xml; utf8, <svg stroke='white' fill='white' stroke-width='0' viewBox='0 0 24 24' height='1em' width='1em' xmlns='http://www.w3.org/2000/svg'><path d='M4 10 l8 10 8-10z'></path></svg>");
  position: absolute;
  top: 50%;
  right: 0.5rem;
  transform: translateY(-50%);
  pointer-events: none;
}

div.landing-page-header-lang-container select#lang-switcher-header-select option
{
  min-height: 1.2em;
  white-space: nowrap;
  display: block;
  padding: 0 2px 1px;
  width: 50px;
}

a.landing-page-header-signin-link
{
  padding: 7px 17px;
  background-color: #e50914;
  color: #fff;
  font-size: 1rem;
  border-radius: 3px;
}

/* === Cards Container === */

div.landing-page-cards-container
{
  width: 100%;
  /* margin: 0 auto; */
  display: flex;
  flex-direction: column;
  align-items: center;
}

/*  === Gradient Background ===  */

div.landing-page-hero-background-container
{
  position: absolute;
  top: -100px;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: -1;
  overflow: hidden;
}

div.landing-page-hero-image-container
{
  /* height: 692.594px; */
  height: auto;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: center;
}

div.landing-page-hero-image-container img
{
  /* max-width: 100%; */
  width: 100%;
  min-width: 1280px;
  height: 100%;
  /* transform: none; */
  object-fit: cover;
}

div.landing-page-hero-gradient-container
{
  width: 100%;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.4);
  background-image: linear-gradient(0deg,rgba(0,0,0,0.8) 0, transparent 60%,rgba(0,0,0,0.8));
  object-fit: scale-down;
}

/* === Hero Card === */

div.landing-page-hero-card-container
{
  width: 100%;
  padding: 70px 45px;
  position: relative;
  display: flex;
  justify-content: center;
  background: transparent;
  border-bottom: 8px solid #222;
}

div.landing-page-hero-card-content-container
{
  width: 100%;
  padding: 75px 0;
  line-height: 1.1;
}

h1.landing-page-hero-card-content-title
{
  max-width: 640px;
  margin: 16px auto;
  font-size: 52px;
  text-align: center;
}

h2.landing-page-hero-card-content-subtitle
{
  max-width: 640px;
  margin: 16px auto;
  font-size: 26px;
  font-weight: 400;
  text-align: center;
}

/* === Watch Card === */

div.landing-page-watch-card-container
{
  padding: 70px 45px;
  margin-bottom: 0;
  position: relative;
  background: transparent;
  border-bottom: 8px solid #222;
}

div.landing-page-watch-card-content-container
{
  /* max-width: 1100px; */
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

div.landing-page-watch-card-content-text-container
{
  height: 100%;
  width: 52%;
  padding: 0 3rem 0 0;
  margin: -5% 0;
  /* z-index: 3; */
  flex: 0 1 auto;
}

div.landing-page-watch-card-content-text-container h1
{
  margin-bottom: 0.5rem;
  font-size: 3.125rem;
  line-height: 1.1;
}

div.landing-page-watch-card-content-text-container h2
{
  margin: 0.75em 0 0.25em 0;
  font-size: 1.625rem;
  font-weight: 400;
  line-height: 1.1;
}

div.landing-page-watch-card-content-image-container
{
  height: 100%;
  width: 48%;
  display: flex;
  flex: 0 1 auto;
}

div.landing-page-watch-card-content-animation-container
{
  margin: -10% -5% -5% 0;
  position: relative;
  overflow: hidden;
}

div.landing-page-watch-card-content-animation-container img
{
  height: auto;
  max-width: 100%;
  position: relative;
  z-index: 2;
  border: 0;
}

div.landing-page-watch-card-content-animation
{
  height: 100%;
  max-height: 54%;
  width: 100%;
  max-width: 73%;
  position: absolute;
  top: 46%;
  left: 50%;
  transform: translate(-50%, -50%);
}

div.landing-page-watch-card-content-animation video
{
  height: 100%;
  width: 100%;
}

div.center-pixel
{
  position: absolute;
  top: 50%;
  left: 50%;
}

/* === Download Card === */

div.landing-page-download-card-container
{
  padding: 70px 45px;
  margin-bottom: 0;
  position: relative;
  background: transparent;
  border-bottom: 8px solid #222;
}

div.landing-page-download-card-content-container
{
  /* max-width: 1100px; */
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-flow: row-reverse;
}

div.landing-page-download-card-content-text-container
{
  height: 100%;
  width: 52%;
  /* padding: 0 3rem 0 0; */
  padding: 0 0 0 3rem;
  margin: -5% 0;
  /* z-index: 3; */
  flex: 0 1 auto;
}

div.landing-page-download-card-content-text-container h1
{
  margin-bottom: 0.5rem;
  font-size: 3.125rem;
  line-height: 1.1;
}

div.landing-page-download-card-content-text-container h2
{
  margin: 0.75em 0 0.25em 0;
  font-size: 1.625rem;
  font-weight: 400;
  line-height: 1.1;
}

div.landing-page-download-card-content-image-container
{
  height: 100%;
  width: 48%;
  display: flex;
  flex: 0 1 auto;
}

div.landing-page-download-card-content-animation-container
{
  margin: -8% 0 -4% -15%;
  width: 100%;
  position: relative;
  overflow: hidden;
}

div.landing-page-download-card-content-animation-container img
{
  height: auto;
  max-width: 100%;
  position: relative;
  z-index: 2;
  border: 0;
}

div.landing-page-download-card-content-animation
{
  width: 60%;
  min-width: 15em;
  margin: 0 auto;
  padding: 0.5em 0.75em;
  position: absolute;
  bottom: 8%;
  left: 50%;
  z-index: 3;
  display: flex;
  align-items: center;
  background: #000;
  border: 2px solid hsla(0,0%,100%,.25);
  border-radius: 0.75em;
  box-shadow: 0 0 2em 0 #000;
  transform: translateX(-50%);
}

div.landing-page-download-card-content-animation-image
{
  flex-grow: 0;
  flex-shrink: 0;
  margin: 0 1em 0 0;
}

div.landing-page-download-card-content-animation-image img
{
  height: 4.5em;
  max-width: 100%;
  border: 0;
}

div.landing-page-download-card-content-animation-text
{
  flex-grow: 1;
  flex-shrink: 1;
  margin: 0.3em 0;
}

div.landing-page-download-card-content-animation-text :first-child
{
  font-size: 1em;
  font-weight: 600;
}

div.landing-page-download-card-content-animation-text :last-child
{
  font-size: 0.9em;
  color: #0071eb;
}

div.landing-page-download-card-content-animation-custom
{
  height: 3.75em;
  width: 3em;
  background: url(https://assets.nflxext.com/ffe/siteui/acquisition/ourStory/fuji/desktop/download-icon.gif) 50% no-repeat;
  background-size: 100%;
  outline: 2px solid #000;
  outline-offset: -2px;
  flex-grow: 0;
  flex-shrink: 0;
}

/* === Stream Card === */

div.landing-page-stream-card-container
{
  padding: 70px 45px;
  margin-bottom: 0;
  position: relative;
  background: transparent;
  border-bottom: 8px solid #222;
}

div.landing-page-stream-card-content-container
{
  /* max-width: 1100px; */
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

div.landing-page-stream-card-content-text-container
{
  height: 100%;
  width: 52%;
  padding: 0 3rem 0 0;
  margin: -5% 0;
  /* z-index: 3; */
  flex: 0 1 auto;
}

div.landing-page-stream-card-content-text-container h1
{
  margin-bottom: 0.5rem;
  font-size: 3.125rem;
  line-height: 1.1;
}

div.landing-page-stream-card-content-text-container h2
{
  margin: 0.75em 0 0.25em 0;
  font-size: 1.625rem;
  font-weight: 400;
  line-height: 1.1;
}

div.landing-page-stream-card-content-image-container
{
  height: 100%;
  width: 48%;
  display: flex;
  flex: 0 1 auto;
}

div.landing-page-stream-card-content-animation-container
{
  margin: -10% -5% -5% 0;
  position: relative;
  overflow: hidden;
}

div.landing-page-stream-card-content-animation-container img
{
  height: auto;
  max-width: 100%;
  position: relative;
  z-index: 2;
  border: 0;
}

div.landing-page-stream-card-content-animation
{
  height: 100%;
  max-height: 47%;
  width: 100%;
  max-width: 63%;
  position: absolute;
  top: 34%;
  left: 50%;
  transform: translate(-50%, -50%);
}

div.landing-page-stream-card-content-animation video
{
  height: 100%;
  width: 100%;
}

/* === Kids Card === */

div.landing-page-kids-card-container
{
  padding: 70px 45px;
  margin-bottom: 0;
  position: relative;
  background: transparent;
  border-bottom: 8px solid #222;
}

div.landing-page-kids-card-content-container
{
  /* max-width: 1100px; */
  width: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-flow: row-reverse;
}

div.landing-page-kids-card-content-text-container
{
  height: 100%;
  width: 52%;
  /* padding: 0 3rem 0 0; */
  padding: 0 0 0 3rem;
  text-align: center;
  /* margin: -5% 0; */
  z-index: 3;
  flex: 0 1 auto;
}

div.landing-page-kids-card-content-text-container h1
{
  margin-bottom: 0.5rem;
  font-size: 3.125rem;
  line-height: 1.1;
}

div.landing-page-kids-card-content-text-container h2
{
  margin: 0.75em 0 0.25em 0;
  font-size: 1.625rem;
  font-weight: 400;
  line-height: 1.1;
}

div.landing-page-kids-card-content-image-container
{
  height: 100%;
  width: 48%;
  display: flex;
  flex: 0 1 auto;
}

div.landing-page-kids-card-content-animation-container
{
  /* margin: -8% 0 -4% -15%; */
  /* width: 100%; */
  position: relative;
  overflow: hidden;
}

div.landing-page-kids-card-content-animation-container img
{
  height: auto;
  max-width: 100%;
  /* position: relative;
  z-index: 2;
  border: 0; */
}

/* === Footer Container === */

div.landing-page-footer-container
{
  padding: 70px 45px 0 45px;
  margin-bottom: 0;
  position: relative;
  background: transparent;
}