form.login-form
{
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

form.login-form h2
{
  font-size: 32px;
  margin-bottom: 28px;
}

form.login-form 
div.contact-container,
div.password-container
{
  height: 50px;
  width: 100%;
  margin-bottom: 16px;
  background-color: #333333;
  border-radius: 5px;
}

form.login-form 
div.contact-container.error,
div.password-container.error
{
  border-bottom: 2px solid #e87c03;
}

form.login-form 
div.placement-container
{
  height: 50px;
  width: 100%;
  color: #8C8C8C;
  padding: 16px 20px 0 20px;
  font-size: 16px;
  transition: padding-top 0.3s, font-size 0.3s;
}

form.login-form 
div.placement-container.shrink
{
  padding-top: 5px;
  font-size: 12px;
}

form.login-form 
p.input-error-message
{
  padding: 2px 4px;
  color: #e87c03;
  font-size: 8px;
}

form.login-form input
{
  height: 0;
  width: 100%;
  color: white;
  font-size: 16px;
  background-color: #333333;
  border: none;
  transition: height 0.3s;
}

form.login-form input.active
{
  height: 28px;
}

form.login-form input:focus
{
  outline: none;
}

form.login-form button
{
  height: 50px;
  margin: 24px 0 12px 0;
  padding: 16px;
  background-color: red;
  color: white;
  border: none;
  border-radius: 5px;
}

/* === Bottom Row === */

form.login-form div.bottom-row
{
  width: 100%;
  display: flex;
  justify-content: space-between;
  color: #b3b3b3;
}

/* === Checkbox === */

form.login-form div.checkbox-container
{
  width: 200px;
  height: 23px;
  display: flex;
  align-items: center;
}

#login-form-remember-me
{
  width: 16px;
  height: 16px;
  margin: 5px 5px 5px 0;
}

form.login-form 
input[type="checkbox"]
{
  cursor: pointer;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  outline: 0;
  height: 16px;
  width: 16px;
  border-radius: 2px;
  color: white;
  background: #737373;
}

form.login-form 
input[type="checkbox"]:focus
{
  color: white;
  background: white;
}

form.login-form 
input[type="checkbox"]:after
{
  content: ' ';
  position: relative;
  width: 25%;
  height: 55%;
  top: 10%;
  left: 30%;
  border: solid black;
  border-width: 0 2px 2px 0;
  transform: rotate(45deg);
  display: none;
}

form.login-form 
input[type="checkbox"]:checked:after
{
  display: block;
}

form.login-form 
div.bottom-row a
{
  margin-top: 2.5px;
  color: #b3b3b3;
}