div.login-form-container
{
  width: 450px;
  height: 660px;
  padding: 60px 40px 68px 40px;
  margin-bottom: 90px;
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  font-size: 16px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

form.login-form-main
{
  width: 315px;
  height: 380px;
  display: flex;
  flex-direction: column;
}

h2.login-form-title
{
  font-size: 32px;
  margin-bottom: 28px;
}

div.login-form-user-contact-container,
div.login-form-user-password-container
{
  height: 50px;
  width: 100%;
  margin-bottom: 16px;
  padding: 0 20px;
  background-color: #333333;
  border-radius: 5px;
}

div.login-form-user-contact-label-container,
div.login-form-user-password-label-container
{
  width: 100%;
  color: #8C8C8C;
  padding-top: 16px;
  font-size: 16px;
  transition: padding-top 0.3s, font-size 0.3s;
}

div.login-form-user-contact-label-container.shrink,
div.login-form-user-password-label-container.shrink
{
  padding-top: 5px;
  font-size: 12px;
}

div.login-form-user-contact-label-container input,
div.login-form-user-password-label-container input
{
  height: 0;
  width: 100%;
  color: white;
  font-size: 16px;
  background-color: #333333;
  border: none;
  transition: height 0.3s;
}

div.login-form-user-contact-label-container input.active,
div.login-form-user-password-label-container input.active
{
  height: 30px;
}

div.login-form-user-contact-label-container input:focus,
div.login-form-user-password-label-container input:focus
{
  outline: none;
}

button.login-form-submit-button
{
  height: 50px;
  margin: 24px 0 12px 0;
  padding: 16px;
  background-color: red;
  color: white;
  border: none;
  border-radius: 5px;
}

div.login-form-main-bottom-row
{
  width: 100%;
  display: flex;
  justify-content: space-between;
  color: #b3b3b3;
}

div.login-form-checkbox-container
{
  width: 200px;
  height: 23px;
  display: flex;
  align-items: center;
}

#login-form-user-remember
{
  width: 16px;
  height: 16px;
  margin: 5px 5px 5px 0;
}

div.login-form-checkbox-container label
{
  width: 100%;
}

a.login-form-help-link
{
  margin-top: 2.5px;
  color: #b3b3b3;
}

div.login-form-other
{
  width: 315px;
  height: 180px;
}

div.login-form-signup-container
{
  font-size: 16px;
  color: #737373;
  margin-top: 16px;
}

a.login-form-signup-link
{
  color: white;
}

div.login-form-recaptcha-container
{
  width: 100%;
  margin: 13px 0;
}

p.login-form-recaptcha-text
{
  width: 285px;
  font-size: 13px;
  color: #8c8c8c;
}

a.login-form-recaptcha-terms-of-use-link
{
  color: #0071EB;
}